<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description"
          content="Mobile UI Gallery. This is the screenshot page showing widgets that are taken from the same screenshot.">
    <meta name="keywords"
          content="mobile, mobile ui, mobile widgets, widget, widgets, mobile application, android, android widget, android widgets, android ui, ui">
    <meta name="author" content="">

    <title><%= title %></title>

    <!-- Bootstrap core CSS -->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <!-- CSS for ion.rangeSlider-->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/ion-rangeslider/2.2.0/css/ion.rangeSlider.min.css"
          rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/ion-rangeslider/2.2.0/css/ion.rangeSlider.skinHTML5.css"
          rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="http://mui-collection.herokuapp.com/stylesheets/style.css" rel="stylesheet">

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-117332758-2"></script>
    <script>
        window.dataLayer = window.dataLayer || [];

        function gtag() {
            dataLayer.push(arguments);
        }

        gtag('js', new Date());

        gtag('config', 'UA-117332758-2');
    </script>
</head>
<body>

<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top navbar-fixed-top">
    <div class="container">
        <a class="navbar-brand" href="/">Mobile UI Gallery</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
                aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/">Home</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="/search">Search
                        <span class="sr-only">(query.page)</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/about">About</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/contact">Contact</a>
                </li>
            </ul>
        </div>
    </div>
</nav>


<!-- Page Content -->
<div class="container">
    <h2 class="my-4 text-center text-lg-left">Widget Search</h2>
    <hr/>
    <div class="row">
        <div class="col-md-6">
            <button type="button" class="btn btn-danger btn-block" onclick="location.href=document.referrer;">
                Back
            </button>
        </div>
        <div class="col-md-6">
            <button type="button" class="btn btn-primary btn-block"
                    onclick="$(this).parent().parent().css('display', 'none'); $('#search-form').css('display', 'block');">
                Search
            </button>
        </div>
    </div>

    <div id="search-form" style="display:none">
        Find widgets with the following properties:<br><br>
        <form name="search" method="get" id="myform" action="/search" class="panel-body">
            <div class="row">
                <div class="form-group form-inline">
                    <fieldset>
                        <label>Text Filter</label>
                        <input type="text" class="form-control" id="text" name="text" value="<%= query.text %>"
                               placeholder="Text filter">
                    </fieldset>
                    <fieldset>
                        <label>Widget Class</label>
                        <select class="custom-select form-control" id="btnType" name="btnType">
                            <% if (!btnTypeArr.includes(query.btnType)) { %>
                            <option selected value="All">All</option>
                            <% } else { %>
                            <option value="All">All</option>
                            <% }
                            for (var i = 0; i < btnTypeArr.length; i++) {
                                if (btnTypeArr[i] === 'All') {
                                    continue;
                                }
                            if (query.btnType === btnTypeArr[i]) { %>
                            <option selected> <%= btnTypeArr[i] %></option>
                            <% }else { %>
                            <option> <%= btnTypeArr[i] %></option>
                            <% }
                            } %>
                        </select>
                    </fieldset>
                    <fieldset>
                        <label>Color</label>
                        <select class="custom-select form-control" id="color" name="color">
                            <% if (!colArr.includes(query.color)) { %>
                            <option selected value="All">All</option>
                            <% } else { %>
                            <option value="All">All</option>
                            <% }
                            for (var i = 0; i < colArr.length; i++) {
                                if (colArr[i] === 'All') {
                                    continue;
                                }
                            if (query.color === colArr[i]) { %>
                            <option selected> <%= colArr[i] %></option>
                            <% }else { %>
                            <option> <%= colArr[i] %></option>
                            <% }
                            } %>
                        </select>
                    </fieldset>
                    <fieldset>
                        <label>Category</label>
                        <select class="custom-select form-control" id="category" name="category">
                            <% if (!catArr.includes(query.category)) { %>
                            <option selected value="All">All</option>
                            <% } else { %>
                            <option value="All">All</option>
                            <% }
                            for (var i = 0; i < catArr.length; i++) {
                                if (catArr[i] === 'All') {
                                    continue;
                                }
                            if (query.category === catArr[i]) { %>
                            <option selected> <%= catArr[i] %></option>
                            <% }else { %>
                            <option> <%= catArr[i] %></option>
                            <% }
                            } %>
                        </select>
                    </fieldset>
                    <fieldset>
                        <label>Sort By</label>
                        <select class="custom-select form-control" id="sortType" name="sortType">
                            <% if (!((query.sortType) in sortTypeDict)) { %>
                            <option selected value="appDownloads"> <%= sortTypeDict['appDownloads'] %></option>
                            <% } else { %>
                            <option value="appDownloads"> <%= sortTypeDict['appDownloads'] %></option>
                            <% } for (const [key, value] of Object.entries(sortTypeDict)) {
                                if (key === 'appDownloads') {
                                    continue;
                                }

                            if (query.sortType === key) { %>
                            <option selected value="<%= key %>"><%= value %></option>
                            <% }else { %>
                            <option value="<%= key %>"><%= value %></option>
                            <% }
                            } %>
                        </select>
                    </fieldset>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 col-xs-6">
                    <div class="form-group text-center">
                        <label>Width</label>
                        <input type="text" id="width-slider" name="width" value=""/>
                    </div>
                </div>
                <div class="col-md-6 col-xs-6">
                    <div class="form-group text-center">
                        <label>Height</label>
                        <input type="text" id="height-slider" name="height" value=""/>
                    </div>
                </div>
            </div>
            <input type="hidden" name="page" value="1">
            <div class="row">
                <div class="form-group" style="margin: 0 auto;">
                    <button type="submit" class="btn btn-primary">Submit</button>
                </div>
            </div>

        </form>
    </div>
    <hr/>

    <section class="image-grid">
    </section>

    <div class="row" style="margin-bottom:10px">
        <div id="endPage" class="loader" style="display:none;margin: 0 auto;"></div>
    </div>


</div>
<!-- /.container -->
<!-- footer -->
<footer class="py-5 bg-dark">
    <div class="container">
        <p class="m-0 text-center text-white">Copyright &copy; Mobile UI Gallery 2018</p>
    </div>
</footer>

<!-- Bootstrap core JavaScript -->
<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/ion-rangeslider/2.2.0/js/ion.rangeSlider.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>

<script src="/javascripts/imageCell.js"></script>

<script>
    $(document).ready(function () {
        let _page = 1;
        let widthArr;
        let heightArr;

        if (getUrlParameter('width') && getUrlParameter('height')) {
            widthArr = getUrlParameter('width').split(';');
            heightArr = getUrlParameter('height').split(';');
        } else {
            heightArr = [0, 1280];
            widthArr = [0, 800];
        }

        $("#height-slider").ionRangeSlider({
            type: "double",
            min: 0,
            max: 1280,
            from: heightArr[0],
            to: heightArr[1]
        });

        $("#width-slider").ionRangeSlider({
            type: "double",
            min: 0,
            max: 800,
            from: widthArr[0],
            to: widthArr[1]

        });

        document.getElementsByClassName("loader")[0].style.display = "block";
        let html = "";
        let btnSize = '';
        <% for (i = 0; i < widgets.length; i++) { %>
        html += "";
        btnSize = '<%= widgets[i].dimensions['width'] %>x<%= widgets[i].dimensions['height'] %>';
        html += '<span class="anchor" id="#expand-jump-<%= i %>"></span>';
        html += '<article class="image__cell is-collapsed" id="page-' + _page + '">';
        html += '<div class="image--basic" style="height:100px">';
        html += '<a href="#expand-jump-<%= i %>">';
        html += '<img class="basic__img" src="https://storage.googleapis.com/ui-collection-gcs/widgets/<%= widgets[i].widget_class %>/<%= widgets[i].name %>.jpeg" style="max-height:100px;"/>';
        html += '</a>';
        html += '</div>';
        html += '<div class="arrow--up"></div>';
        html += '<div class="image--expand">';
        html += '<div class="modal-body row">';
        html += '<div class="col-md-5">';
        html += '<div id="highlight-box">';
        html += '</div>';
        <% let screenSrc = widgets[i].src.split('/') %>
        html += '<img class="image--large" src="https://storage.googleapis.com/ui-collection-gcs/<%= screenSrc[3] %>/<%= screenSrc[4] %>/<%= screenSrc[7] %>.jpeg" style="max-height:640px"/>';
        html += '</div>';
        html += '<div class="col-md-5 align-self-center">';
        html += '<table cellpadding="0" cellspacing="0" border="0" class="app-detail">';
        html += '<tr>';
        html += '<td><b>Application: </b></td>';
        html += '<td><a href="<%= widgets[i].url %>">';
        <% if (!widgets[i].application_name) { %>
        html += 'Non-ascii';
        <% } else { %>
        html += '<%= widgets[i].application_name %>';
        <% } %>
        html += '</a></td>';
        html += '</tr>';
        html += '<td><b>Package: </b></td>';
        html += '<td style="word-break:break-all"><%= widgets[i].package_name %></td>';
        html += '<tr>';
        html += '<td><b>Category:</b></td>';
        html += '<td><%= widgets[i].category %></td>';
        html += '</tr>';
        html += '<tr>';
        html += '<td><b>Text: </b></td>';
        html += '<td><%= widgets[i].text %></td>';
        html += '</tr>';
        html += '<tr>';
        html += '<td><b>Class: </b></td>';
        html += '<td><%= widgets[i].widget_class %></td>';
        html += '</tr>';
        html += '<tr>';
        html += '<td><b>Coordinates:&emsp;</b></td>';
        html += '<td class="coords">[<%= widgets[i].coordinates['from'] %>][<%= widgets[i].coordinates['to'] %>]</td>';
        html += '</tr>';
        html += '<tr>';
        html += '<td><b>Size:</b></td>';
        html += '<td class="widSize">' + btnSize + '</td>';
        html += '</tr>';
        html += '<tr>';
        html += '<td><b>Color: </b></td>';
        html += '<td><%= widgets[i].color %></td>';
        html += '</tr>';
        html += '<tr>';
        html += '<td><b>Downloads:</b></td>';
        html += '<td><%= widgets[i].downloads %></td>';
        html += '</tr>';
        html += '</table>';
        html += '</div>';
        html += '<div>';
        html += '<a href="#close-jump-<%= i %>" class="expand__close"></a>';
        html += '</div>';
        html += '</div>';
        html += '</div>';
        html += '</article>';
        <% } %>
        $(".image-grid").append(html);    // This will be the div where our content will be loaded
        addCall(_page);
        $("#endPage").removeClass("loader").append("End of Page.");


    });
</script>

</body>
</html>
