<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description"
          content="Mobile UI Gallery search page. Search for widgets used by other developers. The repository has a total of 30,000 widgets used by Android developers, and are gleaned from the Google Play Store.">
    <meta name="keywords"
          content="mobile, mobile ui, mobile widgets, widget, widgets, mobile application, android, android widget, android widgets, android ui, ui">
    <meta name="author" content="">

    <title><%= title %></title>

    <!-- Bootstrap core CSS -->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <!-- Custom styles for this template -->
    <link href="stylesheets/style.css" rel="stylesheet">

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-117332758-2"></script>
    <script>
        window.dataLayer = window.dataLayer || [];

        function gtag() {
            dataLayer.push(arguments);
        }

        gtag('js', new Date());

        gtag('config', 'UA-117332758-2');
    </script>
</head>
<body>

<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
    <div class="container">
        <a class="navbar-brand" href="/">Mobile UI Gallery</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
                aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/">Home</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="/search">Search
                        <span class="sr-only">(query.page)</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/about">About</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/contact">Contact</a>
                </li>
            </ul>
        </div>
    </div>
</nav>


<!-- Page Content -->
<div class="container">
    <h2 class="my-4 text-center text-lg-left">Widget Search</h2>
    <hr/>
    <form name="search" method="get" id="myform" action="/search">
        Find widgets with the following properties:<br><br>
        <h4> Type of widget </h4>
        <select class="custom-select" id="btnType" name="btnType">
            <% if (!btnTypeArr.includes(query.btnType)) { %>
            <option selected value="All">All</option>
            <% } else { %>
            <option value="All">All</option>
            <% }
            for (var i = 0; i < btnTypeArr.length; i++) {
                if (btnTypeArr[i] === 'All') {
                    continue;
                }
            if (query.btnType === btnTypeArr[i]) { %>
            <option selected> <%= btnTypeArr[i] %></option>
            <% }else { %>
            <option> <%= btnTypeArr[i] %></option>
            <% }
            } %>
        </select><br><br>

        <h4> Color </h4>
        <select class="custom-select" id="color" name="color">
            <% if (!colArr.includes(query.color)) { %>
            <option selected value="All">All</option>
            <% } else { %>
            <option value="All">All</option>
            <% }
            for (var i = 0; i < colArr.length; i++) {
                if (colArr[i] === 'All') {
                    continue;
                }
            if (query.color === colArr[i]) { %>
            <option selected> <%= colArr[i] %></option>
            <% }else { %>
            <option> <%= colArr[i] %></option>
            <% }
            } %>
        </select><br><br>

        <h4> Application Category </h4>
        <select class="custom-select" id="category" name="category">
            <% if (!catArr.includes(query.category)) { %>
            <option selected value="All">All</option>
            <% } else { %>
            <option value="All">All</option>
            <% }
            for (var i = 0; i < catArr.length; i++) {
                if (catArr[i] === 'All') {
                    continue;
                }
            if (query.category === catArr[i]) { %>
            <option selected> <%= catArr[i] %></option>
            <% }else { %>
            <option> <%= catArr[i] %></option>
            <% }
            } %>
        </select><br><br>

        <input type="hidden" name="page" value="1">

        <h4> Sort By </h4>
        <select class="custom-select" id="sortType" name="sortType">
            <% if (!((query.sortType) in sortTypeDict)) { %>
            <option selected value="appDownloads"> <%= sortTypeDict['appDownloads'] %></option>
            <% } else { %>
            <option value="appDownloads"> <%= sortTypeDict['appDownloads'] %></option>
            <% } for (const [key, value] of Object.entries(sortTypeDict)) {
                if (key === 'appDownloads') {
                    continue;
                }

            if (query.sortType === key) { %>
            <option selected value="<%= key %>"><%= value %></option>
            <% }else { %>
            <option value="<%= key %>"><%= value %></option>
            <% }
            } %>
        </select><br><br>

        <div class="form-group">
            <button type="submit" class="btn btn-primary">Submit</button>
        </div>
    </form>
    <hr/>

    <section class="image-grid">
        <% for(i = 0; i < widgets.length; i++) {
            var btnSize = widgets[i].dimensions['width'] + 'x' + widgets[i].dimensions['height']; %>
        <article class="image__cell is-collapsed">
            <div class="image--basic" style="height:100px">
                <a href="#expand-jump-<%= i %>">
                    <img id="expand-jump-<%= i %>" class="basic__img"
                         src="https://storage.googleapis.com/ui-collection-gcs/widgets/<%= widgets[i].widget_class + '/' + widgets[i].name + '.png' %>"
                         style="max-height:100px;"/>
                </a>
            </div>
            <div class="arrow--up"></div>
            <div class="image--expand">
                <div class="modal-body row">
                    <div class="col-md-5">
                        <% var left = widgets[i].coordinates['from'][0]; %>
                        <% var top = widgets[i].coordinates['from'][1]; %>
                        <% var width = widgets[i].dimensions['width']; %>
                        <% var height = widgets[i].dimensions['height']; %>
                        <div id="highlight-box" style="
                                left:<%= left %>px;
                                top:<%= top %>px;
                                width:<%= width %>px;
                                height:<%= height %>px;
                                ">
                        </div>
                        <img class="image--large"
                                <% var screenSrc = widgets[i].src.split('/') %>
                             src="https://storage.googleapis.com/ui-collection-gcs/<%= screenSrc[3] + '/' + screenSrc[4] + '/' + screenSrc[7] + '.png' %>"
                             style="max-height:640px"/>
                    </div>
                    <div class="col-md-5 align-self-center">
                        <table cellpadding="0" cellspacing="0" border="0" class="app-detail">
                            <tr>
                                <td><b>Application: </b></td>
                                <td><a href="<%= widgets[i].url %>">
                                        <% if (!widgets[i].application_name) { %>
                                        Non-ascii
                                        <% } else { %>
                                        <%= widgets[i].application_name %>
                                        <% } %>
                                    </a></td>
                            </tr>
                            <tr>
                                <td><b>Package: </b></td>
                                <td><%= widgets[i].package_name %></td>
                            </tr>
                            <tr>
                                <td><b>Category:</b></td>
                                <td><%= widgets[i].category %></td>
                            </tr>
                            <tr>
                                <td><b>Text: </b></td>
                                <td><%= widgets[i].text %></td>
                            </tr>
                            <tr>
                                <td><b>Class: </b></td>
                                <td><%= widgets[i].widget_class %></td>
                            </tr>
                            <tr>
                                <td><b>Coordinates:&emsp;</b></td>
                                <td>[<%= widgets[i].coordinates['from'] %>] [<%= widgets[i].coordinates['to'] %>]</td>
                            </tr>
                            <tr>
                                <td><b>Size:</b></td>
                                <td><%= btnSize %></td>
                            </tr>
                            <tr>
                                <td><b>Color: </b></td>
                                <td> <%= widgets[i].color %></td>
                            </tr>
                            <tr>
                                <td><b>Downloads:</b></td>
                                <td><%= widgets[i].downloads %></td>
                            </tr>
                        </table>
                    </div>
                    <div>
                        <a href="#close-jump-' + i + '" class="expand__close"></a>
                    </div>
                </div>
            </div>
        </article>
        <% } %>
    </section>

    <!-- pagination -->
    <% if (pages > 0) { %>
    <div class="container">
        <nav aria-label="Page navigation example">
            <ul class="pagination justify-content-center">
                <% if (query.page === '1') { %>
                <li class="page-item disabled"><a class="page-link">First</a></li>
                <% } else { %>
                <li class="page-item"><a class="page-link" href="<%= url.replace(/page=\d+/, 'page=1'); %>">First</a>
                </li>
                <% } %>
                <% i = (Number(query.page) > 5 ? Number(query.page) - 4 : 1) %>
                <% if (i !== 1) { %>
                <li class="page-item disabled"><a class="page-link">...</a></li>
                <% } %>
                <% for (; i <= (Number(query.page) + 4) && i <= pages; i++) { %>
                <% if (i == query.page) { %>
                <li class="page-item active"><a class="page-link"><%= i %></a></li>
                <% } else { %>
                <li class="page-item"><a class="page-link"
                                         href="<%= url.replace(/page=\d+/, 'page=' + i); %>"><%= i %></a></li>
                <% } %>
                <% if (i == Number(query.page) + 4 && i < pages) { %>
                <li class="page-item disabled"><a class="page-link">...</a></li>
                <% } %>
                <% } %>
                <% if (query.page == pages) { %>
                <li class="page-item disabled"><a class="page-link">Last</a></li>
                <% } else { %>
                <li class="page-item"><a class="page-link"
                                         href="<%= url.replace(/page=\d+/, 'page=' + pages); %>">Last</a></li>
                <% } %>
            </ul>
        </nav>
    </div>
    <% } %>

</div>
<!-- /.container -->
<!-- footer -->
<footer class="py-5 bg-dark">
    <div class="container">
        <p class="m-0 text-center text-white">Copyright &copy; Mobile UI Gallery 2018</p>
    </div>
</footer>

<!-- Bootstrap core JavaScript -->
<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>

<script src="/javascripts/imageCell.js">

</script>
</body>
</html>
